<h1>Homepage for PennTwit</h1>
<p>A CIS-330 Production <br/>
Brought to you by: Sally Guo, Karen Kim, Sanjay Paul, Michael Yuan</p>


<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
